<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.infra.codegroup.CodeGroupDao">
<!-- namespace:mapper와 연결될 dao파일  -->
<!-- xml에서 주석 단축키 : ctrl + shift + c -->

	<resultMap type="com.lalaping.infra.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	<sql id="selectCommon">
		FROM
			codegroup a
			<!-- left JOIN commoncode b ON b.codeGroup_seq = a.seq -->
		WHERE 1=1
			<!-- 키워드조건 -->
			<!-- <if test="searchKeyword != null and searchKeyword != ''">
				<choose>
					<when test="keywordType == null">
	                    AND a.codeGroupName LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
					<when test="keywordType == 1 and keywordType != null and keywordType != ''">
					    AND a.seq = #{searchKeyword}
					</when>
					<when test="keywordType == 2 and keywordType != null and keywordType != ''">
					    AND a.codeGroupName LIKE CONCAT('%', #{searchKeyword}, '%')
					</when>
					<otherwise>
						AND a.codeGroupName LIKE CONCAT('%', #{searchKeyword}, '%')
					    OR a.seq LIKE CONCAT('%', #{searchKeyword}, '%')
					</otherwise>
					
				</choose>
			</if>
			<if test="sUseNy != null and !sUseNy.equals('')">
				AND a.useNy = #{sUseNy}
			</if>
			<if test="sDelNy != null and !sDelNy.equals('')">
				AND a.delNy = #{sDelNy}
			</if>
			<choose>
				<when test="dateType == 1"> AND a.regDate BETWEEN #{dateStart} AND #{dateEnd}</when>
				<when test="dateType == 2"> AND a.modDate BETWEEN #{dateStart} AND #{dateEnd}</when>
			</choose> -->
	</sql>
	<select id="selectList" resultMap="resultMapObj">
		<include refid="base.selectListUpperForMysql"/>
		SELECT
			a.cgSeq
			,a.cgName
			,a.cgDesc
			,a.cgOrder
			,(select count(aa.codeGroup_cgSeq) from commoncode aa  where 1=1 and aa.codeGroup_cgSeq = a.cgSeq) as cgcodeCount
			,a.cgUseNy
		    ,a.cgDelNy
			,a.cgRegDate
			,a.cgModDate
		<include refid="selectCommon"/>
		ORDER BY
			a.cgOrder desc
		<include refid="base.selectListLowerForMysql"/>
		LIMIT #{limit} OFFSET #{offset}
	</select>
</mapper>		