<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lalaping.complaint.ComplaintDao">
	<resultMap type="com.lalaping.complaint.ComplaintDto" id="resultMapObj"></resultMap>
	<!-- reception 영역 -->
	<sql id="receptionSelectCommon">
		FROM reception a
			join userMember b on b.umSeq = a.userMember_umSeq
		WHERE 1=1
			<if test="shValue != null and !shValue.equals('')">
				<choose>
					<when test="shOption == null">
						AND(
							a.rcTitle LIKE CONCAT('%', #{shValue}, '%')
						)
					</when>
					<when test="shOption == 1 and shOption != null and shOption != ''">
						AND a.rcSeq = #{shValue}
					</when>
					<when test="shOption == 2 and shOption != null and shOption != ''">
						AND a.rcTitle LIKE CONCAT('%', #{shValue}, '%')
					</when>
					<when test="shOption == 3 and shOption != null and shOption != ''">
						AND b.umName LIKE CONCAT('%', #{shValue}, '%')
					</when>
					
				</choose>
	
			</if>
			<if test="shRcStatus != null and !shRcStatus.equals('')">
				AND a.rcStatus = #{shRcStatus}
			</if>
			<if test="shRcType != null and !shRcType.equals('')">
				AND a.RcType = #{shRcType}
			</if>
			
			<if test="shDelNy != null and !shDelNy.equals('')">
				AND a.rcDelNy = #{shDelNy}
			</if>
			
			<if test="(shDateStart != null and !shDateStart.equals('')) and (shDateEnd != null and !shDateEnd.equals(''))">
				<choose>
					<when test="shOptionDate == 1"> AND a.rcRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<!-- <when test="shOptionDate == 2"> AND a.sfModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when> -->
				</choose>
			</if>
	</sql>
	
	<select id="receptionSelectList" resultMap="resultMapObj">
		<include refid="base.selectListUpperForMysql"/>
		SELECT
			a.rcSeq,
			a.rcTitle,
			a.rcContent,
			a.rcStatus,
			a.rcType,
			a.rcDelNy,
			a.rcRegDate,
			a.userMember_umSeq,
			b.umName
		<include refid="receptionSelectCommon"/>
		ORDER BY a.rcStatus ,a.rcSeq Desc
		<include refid="base.selectListLowerForMysql"/>
	</select>
	
	<insert id="rcInsert">
		INSERT INTO reception(
			rcTitle,
			rcContent,
			rcStatus,
			rcType,
		    rcDelNy,
		    rcRegDate,
		    userMember_umSeq
		)VALUES(
			#{rcTitle},
			#{rcContent},
			11,
			#{rcType},
			0,
			now(),
			#{userMember_umSeq}
		)
		<selectKey resultType="String" keyProperty="rcSeq" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
	</insert>
	
	<select id="rcSelectOne" resultMap="resultMapObj">
		SELECT
			a.rcSeq,
			a.rcTitle,
			a.rcContent,
			a.rcStatus,
			a.rcType,
			a.rcRegDate,
			a.userMember_umSeq,
			b.umName
			FROM reception a 
			LEFT JOIN usermember b on b.umSeq = a.userMember_umSeq
		WHERE 1=1
		AND a.rcSeq = #{rcSeq}
	</select>
	
	<update id="rcUpdate">
    	UPDATE reception 
		set
			<!-- rcTitle = #{rcTitle},
			rcContent = #{rcContent}, -->
			rcStatus = #{rcStatus}
			<!-- rcType = #{rcType},
		    rcRegDate = now(), 
		    userMember_umSeq = #{userMember_umSeq} -->
		WHERE 1=1
			AND rcSeq = #{rcSeq}
	</update>
	
	 <update id="rcUelete">
		update reception
		set
			rcDelNy = 1
		where 1=1
			and rcSeq = #{rcSeq}
	</update>
	
	<delete id="rcDelete">
		DELETE FROM reception
		where 1=1
			and rcSeq = #{rcSeq}
	</delete>
	<select id="receptionListCount" resultType="int">
        SELECT COUNT(*)
        <include refid="receptionSelectCommon" />
    </select>
     <select id="receptionTypeCount" resultMap="resultMapObj">
        SELECT rcType, COUNT(rcType) AS rcTypeCount
	    FROM reception
	    GROUP BY rcType
    </select>
    <select id="compStatusCount" resultMap="resultMapObj">
        SELECT rcStatus, COUNT(rcStatus) AS rcStatusCount
		FROM reception
		GROUP BY rcStatus
    </select>
    
	<!--answer 영역 -->
	<sql id="answerSelectCommon">
		FROM answer b
		LEFT JOIN reception a
		ON a.rcSeq = b.reception_rcSeq
		LEFT JOIN staffMember c
		ON c.sfSeq = b.staffMember_sfSeq
		WHERE 1=1
			<if test="shValue != null and !shValue.equals('')">
				<choose>
					<when test="shOption == null">
						AND(
							b.awContent LIKE CONCAT('%', #{shValue}, '%')
						)
					</when>
					<when test="shOption == 1 and shOption != null and shOption != ''">
						AND b.awSeq= #{shValue}
					</when>
					<when test="shOption == 2 and shOption != null and shOption != ''">
						AND b.reception_rcSeq = #{shValue}
					</when>
					<when test="shOption == 3 and shOption != null and shOption != ''">
						AND a.rcTitle LIKE CONCAT('%', #{shValue}, '%')
					</when>
					<when test="shOption == 4 and shOption != null and shOption != ''">
						AND b.awContent LIKE CONCAT('%', #{shValue}, '%')
					</when>
					<when test="shOption == 5 and shOption != null and shOption != ''">
						AND c.sfName LIKE CONCAT('%', #{shValue}, '%')
					</when>
				</choose>
			</if>
			<if test="shAwStatus != null and !shAwStatus.equals('')">
				AND a.rcStatus = #{shAwStatus}
			</if>
			<if test="shDelNy != null and !shDelNy.equals('')">
				AND b.awDelNy = #{shDelNy}
			</if>
			<if test="shRcType != null and !shRcType.equals('')">
				AND a.rcType = #{shRcType}
			</if>
			<if test="shStaff != null and !shStaff.equals('')">
				AND c.sfseq Like CONCAT('%',#{shStaff},'%')
			</if>
			<if test="(shDateStart != null and !shDateStart.equals('')) and (shDateEnd != null and !shDateEnd.equals(''))">
				<choose>
					<when test="shOptionDate == 1"> AND b.awRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2"> AND b.awModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
			</if>
	</sql>
	
	<select id="answerSelectList" resultMap="resultMapObj">
		<include refid="base.selectListUpperForMysql"/>
		SELECT
			b.awSeq,
			b.awContent,
			b.awDept,
			b.awDelNy,
			b.awRegDate,
			b.awModDate,
			b.staffMember_sfSeq,
			b.reception_rcSeq,
			a.rcType,
			a.rcTitle,
			a.rcStatus,
			c.sfName
		<include refid="answerSelectCommon"/>
		ORDER BY a.rcStatus asc
			 , CASE 
            	WHEN staffMember_sfSeq = #{sessSeqXdm} THEN 0
            	ELSE 1
        	END,
        	b.awSeq DESC 
		<include refid="base.selectListLowerForMysql"/>
	</select>
	
	<insert id="awInsert">
		INSERT INTO answer(
			awContent
			,awDept 
		    ,awDelNy
		    ,awRegDate
		    ,awModDate
		    ,staffMember_sfSeq
		    ,reception_rcSeq
		)VALUES(
			#{awContent},
			11,
			0,
			now(),
			now(),
			#{staffMember_sfSeq},
			#{reception_rcSeq}
		)
		<selectKey resultType="String" keyProperty="awSeq" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
	</insert>
	
	<select id="awSelectOne" resultMap="resultMapObj">
		SELECT
			b.awSeq,
			b.awContent,
			b.awModDate,
			b.staffMember_sfSeq,
			b.reception_rcSeq,
			a.rcType,
			a.rcTitle,
			a.rcContent,
			a.userMember_umSeq,
			a.rcStatus,
			c.sfName,
			b.awDept,
			d.umName
		FROM answer b
			LEFT JOIN reception a
			ON a.rcSeq = b.reception_rcSeq
			LEFT JOIN staffMember c
			ON c.sfSeq = b.staffMember_sfSeq
			LEFT JOIN userMember d
			ON a.userMember_umSeq = d.umSeq
		WHERE 1=1
		AND b.awSeq = #{awSeq}
	</select>
	
	<update id="awUpdate">
    	UPDATE answer 
		set
			awContent = #{awContent},
			awDept = #{awDept},
		    awModDate = now(),
		    staffMember_sfSeq = #{staffMember_sfSeq},
			reception_rcSeq = #{reception_rcSeq}
		WHERE 1=1
			AND awSeq = #{awSeq}
	</update>
	
	 <update id="awUelete">
		update answer
		set
			awDelNy = 1
		where 1=1
			and awSeq = #{awSeq}
	</update>
	
	<delete id="awDelete">
		DELETE FROM answer
		where 1=1
			and awSeq = #{awSeq}
	</delete>
	
	<select id="answerListCount" resultType="int">
        SELECT COUNT(*)
        <include refid="answerSelectCommon" />
    </select>
	<select id="answerTypeCount" resultMap="resultMapObj">
		SELECT a.awDept, COUNT(a.awDept) AS awDeptCount
	    FROM answer a
	    GROUP BY a.awDept
    </select>
    
    <select id="pendingReceptionList">
    	SELECT
			a.rcSeq,
			a.rcTitle,
			a.rcContent,
			a.rcStatus,
			a.rcType,
			a.rcDelNy,
			a.rcRegDate,
			a.userMember_umSeq,
			b.umName
		FROM reception a
		LEFT join userMember b
	 	ON b.umSeq = a.userMember_umSeq
		WHERE 1=1
		AND a.rcDelNy = 0
		AND a.rcStatus = 11
		ORDER BY a.rcStatus,a.rcSeq Desc
		limit 5
    </select>
    <select id="compReceptionList">
    	SELECT
			a.rcSeq,
			a.rcTitle,
			a.rcContent,
			a.rcStatus,
			a.rcType,
			a.rcDelNy,
			a.rcRegDate,
			a.userMember_umSeq,
			b.umName
		FROM reception a
		LEFT join userMember b
	 	ON b.umSeq = a.userMember_umSeq
		WHERE 1=1
		AND a.rcDelNy = 0
		AND a.rcStatus = 13
		ORDER BY a.rcSeq Desc
    </select>
	
	
	
	
</mapper>